@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


body {
    background-color: #eee;
}

.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
}

.rounded-pill {
    background-color: #eee;
    position: relative;
}

.badge {
    position: absolute;
    top: -7px;
    left: 25px;
    padding: 4px 6px;
    border-radius: 50%;
    background: #4d06a5;
    color: white;
    font-size: 12px;
}

.sidebar {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-y: auto;
    max-height: 100%;
    scrollbar-width: thin;
    scrollbar-color: red;
}

.sidebar::-webkit-scrollbar {
    width: 11px;
  }

#side_nav {
    background-color: #ffffff;
    min-width: 300px;
    max-width: 300px;
    transition: all 0.3s;
}

.sidebar li .submenu{ 
    list-style: circle; 
    color: #000;
    margin: 0; 
    padding: 0; 
    padding-left: 1rem; 
    padding-right: 1rem;
    background: none;
}

.sidebar li .submenu li {
    margin-top: 20px;
}

.content {
    min-height: 100vh;
    width: 100%;
    margin-left: 300px;
}

.sidebar li.active {
    background-color: #ffffff;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
}

.sidebar li a {
    color: #000;
}

.profile_img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.col-6 {
    background-color: #fff;
    height: 120px;
    border-radius: 10px;
    position: relative;
}

p.amount {
    position: absolute;
    top: 20px;
}

.par_cart {
    position: absolute;
    top: 60px;
}

.cart {
    color: #1bb646;
}

.cart_no {
    color: #78e57d;
    font-size: 14px;
}

.cart_text {
    color: #a4a9b6;
    font-size: 14px;
}

.icon_img {
    width: 60%;
    margin-left: 10px;
}

.icon_img1 {
    width: 100%;
}

.icon_img2 {
    width: 50%;
}

.mrkt_price {
    height: 240px;
    background-color: #ffffff;
    border-radius: 10px;
}

.input_search {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #eee;
    outline: none;
    padding: 2px 10px;
    background-color: #eee;
    font-size: 13px;
}

#chartContainer {
    height: 640px; 
    width: 100%; 
    border: 1px solid white; 
    border-radius: 5px;
}

.hide-pan .canvasjs-chart-toolbar > button:first-child {
    display: none !important;
  }

.input_amount {
    width: 33%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid blue;
    outline: none;
    padding: 2px 10px;
}

input::placeholder {
    color: #bfc1c4;
}

.btn_outline {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn_outline2 {
    border-radius: 0;
    font-size: 14px;
}

.buy_sell {
    height: 630px;
    background-color: #fff;
    margin-top: 55px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    #side_nav {
        margin-left: -300px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }

    #side_nav.active {
        margin-left: 0;
    }

    .grp_icons {
        margin-top: 20px;
    }

    .col-6 {
        width: 100%;
        margin-top: 20px;
        margin-left: 10px;
    }

    #chartContainer {
        margin-top: 20px;
        width: 100% !important;
        margin-left: 7px;
    }

    .content {
        margin-left: 0;
    }
}

@media only screen and (width: 768px) {
    .monero, .litecoin {
        margin-top: 10px;
    }
}

@media only screen and (width: 1024px) {
    .col-6 {
        width: 100%;
    }

    #side_nav {
        min-height: 100vh;
    }

    div.amount {
        margin-right: 50px !important;
    }

    .monero, .litecoin {
        display: none !important;
    }

    .bitcoin, .ethereum {
        width: 85%;
    }

    .mrkt_price {
      padding: 0 10px;
    }

    a.tether, a.dollar {
        display: none;
    }

    .icon_img1 {
        width: 150%;
    }

    .currency_bit, .currency_eth {
        margin-right: 8px !important;
    }

    p.bit, p.eth, p.lite {
        font-size: 9px;
    }

    p.wallet, p.bank {
        font-size: 13px;
    }
}

